body {
    /* background: #1D1E22; */
    background-color: #2B2B2B;
    color: #eee;
}

.main-container {
    width:44%;
    position: absolute;
    border-style: solid;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 1.5rem;
    /*background-color: #1D1E22;*/
}

.container-sessions {
    width: 65%;
}

.form-check-input:checked{
    background-color: #7E8EF1 !important;
    border: 0;
 }
 .form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem #7E8EF1 !important;
 }

.btn-search {
    padding: 0;
    padding-top: 0.15rem;
    font-size: 1.25rem;
    font-weight: 500;
}

#submit-btn {
    padding: 0.6rem 2rem;
    background-color: #7E8EF1 !important;
    font-size: 18px;
}
.error-msg {
    color: #FF204E;
}

.title {
    text-align: center;
}

.box-btn {
     display: inline-block;
     /*width: 100%;
     height: 100%;*/

     /*margin-bottom: 0.5em;
     padding-top: .6em;
     padding-bottom: .6em;*/
     padding: 1.7px 6.5px 0;
     text-align: center;
     font-size: 24px;
     text-decoration: none;
     color: #100c08;
     border-radius: 8px;
     filter: brightness(1);
}

.box-btn:hover {
    filter: brightness(0.90);
}

.box-btn:active {
    transform: scale(0.95);
}

.edit {
    background-color: #F9D689;
}

.sessions {
    background-color: #E2BBE9;
}

.box-img {
    padding: 0;
    vertical-align: middle;
    font-size: x-large;
}

.btn-outline-success {
    color: #7E8EF1 !important;
    border-color: #7E8EF1 !important;
}

.btn-outline-success:hover {
    background-color: #7E8EF1 !important;
    color: #fff !important;
}

.btn-outline-success:active, .btn-outline-success:focus {
    background-color: #7E8EF1 !important;
    color: #fff !important;
    box-shadow: 0 0 0 0.1rem #7E8EF1 !important;
}

.patient-lbl {
    font-style: italic;
    padding-left: 1.5rem;
}


