* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2B2B;
    color: #eee;
    min-height: 100vh;
    padding-top: 2.5rem;
}

.main-container {
    border-style: solid;
    /*border-radius: 1rem;*/
    /*background-color: #1D1E22;*/
    padding: 1rem;
    margin: 0.5rem 0;
    height: 33.5rem;
    padding-right: 1.2rem;
    border-radius: 11px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title {
    flex: 0 0 10%;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.navigation-container {
    flex: 0 0 10%;
    padding: 5px;
    margin: 0;
}

.table-container {
    flex: 0 0 75%;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 10;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

.container-small {
    width: 33%;
}

.container-medium {
    width: 44%;
}

.container-large {
    width: 53%;
}

.form-check-input:checked{
    background-color: #7E8EF1 !important;
    border: 0;
 }
 .form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem #7E8EF1 !important;
 }

.btn-search {
    padding: 0;
    padding-top: 0.15rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-math {
    padding: 0.3rem 0.8rem;
    font-size: 17px;
    filter: brightness(1);
    border-radius: 8px;
}

.btn-math:hover {
    filter: brightness(0.90);
}

.btn-math:active {
    transform: scale(0.95);
}

.btn-plus {
    margin-left: 5px !important;
    background-color: #74E291;
}

.btn-minus {
    background-color: #EE4266;
    padding: 0.3rem 0.9rem !important;
}

.error-msg {
    color: #FF204E;
}

.box-btn {
     display: inline-block;
     padding: 1.7px 6.5px 0;
     text-align: center;
     font-size: 24px;
     text-decoration: none;
     color: #100c08;
     border-radius: 8px;
     filter: brightness(1);
}

.box-btn:hover {
    filter: brightness(0.90);
}

.box-btn:active {
    transform: scale(0.95);
}

.edit {
    background-color: #F9D689;
}

.sessions {
    background-color: #E2BBE9;
}

.debt {
    background-color: #CDFAD5;
}

.save-btn {
    padding: 0.6rem 2rem;
    /*background-color: #7E8EF1 !important;*/
    font-size: 17px;
    border-radius: 8px;
    color: #7E8EF1;
    border-color: #7E8EF1;
    background-color: transparent;
}

.save-btn:hover {
    background-color: #7E8EF1;
    color: #fff;
}

.save-btn:active, .save-btn:focus {
    background-color: #7E8EF1;
    color: #fff;
    box-shadow: 0 0 0 0.1rem #7E8EF1;
}

.box-img {
    padding: 0;
    vertical-align: middle;
    font-size: x-large;
}

.btn-outline-success {
    color: #7E8EF1 !important;
    border-color: #7E8EF1 !important;
}

.btn-outline-success:hover {
    background-color: #7E8EF1 !important;
    color: #fff !important;
}

.btn-outline-success:active, .btn-outline-success:focus {
    background-color: #7E8EF1 !important;
    color: #fff !important;
    box-shadow: 0 0 0 0.1rem #7E8EF1 !important;
}

.patient-lbl {
    font-style: italic;
    padding-left: 1.5rem;
}

.debt-row {
  height: 4rem;
  line-height: 4rem;
}

.debt-btns-container {
    display: flex;
    justify-content: space-between;
}

.patient-debt {
    color: #100c08;
}



