<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registrar Paciente</title>
    <link th:href="@{/addPatient-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
      <a th:href="@{/}">Inicio</a>
      <a th:href="@{/view/patients}">Registrar Paciente</a>
      <a th:href="@{/view/sessions}">Registrar Sesión</a>
      <a th:href="@{/view/search}">Buscar Paciente</a>
    </div>   
    <div class="container">
      <h2> Añadir Paciente </h2>
      <form method="post" th:object="${patient}" th:action="@{/view/patients}">

        <div>
          <label>Nombres:</label>
          <input type="text" placeholder="Nombres" th:field="*{firstNames}">
          <p style="color:red" th:errors="*{firstNames}"> </p>
        </div>
        <div>
          <label>Apellidos:</label>
          <input type="text" placeholder="Apellidos" th:field="*{lastNames}">
          <p style="color:red" th:errors="*{lastNames}"> </p>
        </div>
        <div>
          <label>Short Name:</label>
          <input type="text" placeholder="ShortName" th:field="*{shortName}">
          <p style="color:red" th:errors="*{shortName}"> </p>
        </div>
        <div>
          <label for="patient-birthDate">Fecha de Nacimiento:</label>
          <input type="date" th:field="*{birthDate}" id="patient-birthDate"/>
          <p style="color:red" th:errors="*{birthDate}"> </p>
        </div>
        <div>
          <label>Sexo:</label>
          <div>
            <input type="radio" th:field="*{sex}" id="M" value="MALE">
            <label for="M">Hombre</label>
          </div>
          <div>
            <input type="radio" th:field="*{sex}" id="F" value="FEMALE">
            <label for="F">Mujer</label>
          </div>
        </div>
        <div>
          <input type="checkbox" th:field="*{isActive}" id="isActiveCheckBox">
          <label for="isActiveCheckBox">
            Activo
          </label>
        </div>
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Registrar">
      </form>
    </div>
</body>
</html>