<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Registrar Sesión:</title>
    <link th:href="@{/addSession-stylesheet.css}" rel="stylesheet">
  </head>
  <body>

  <div class="topnav">
    <a th:href="@{/}">Inicio</a>
    <a th:href="@{/view/patients}">Registrar Paciente</a>
    <a th:href="@{/view/sessions}">Registrar Sesión</a>
    <a th:href="@{/view/search}">Buscar Paciente</a>
  </div>

  <div class= "container">
      <h2 > Guardar Sesión </h2>
      <table id="table"> 
        <tr>
          <th>Student</th>
          <th>Subject</th>
          <th>Score</th>
        </tr>
        <tr th:each="grade: ${grades}">
          <td th:text="${grade.name}"></td>
          <td th:text="${grade.subject}"></td>
          <td th:text="${grade.score}"></td>
          <td> <a role="button" class="update" th:href="@{/(id = ${grade.id})}">Update</a> </td>
        </tr>
      </table>
    </div>
    
  </body>
</html>